*{
  margin: 0;
  padding: 0;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #000000;
}

.topnav a.split {
  float: left;
  color: #000000;
}

.homeimg {
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
}

.welcome {
  display: inline-flex;
  position: absolute;
  top: 90px;
  margin-left: 50px;
}

#welcometitle {
  display: inline-flex;
  position: relative;
  font-size: 80px;
}

.welcome p{
  display: inline-flex;
  position: relative;
  top: 10px;
  margin-left: 90px;
  margin-right: 90px;
  font-size: 18px;
  text-align: justify;
  font-size: 20px;
}

.recent {
    display: flex;
    justify-content: space-evenly;
}

.card {
    display: flex;
    gap: 25px;
    margin-top: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

.item {
    position: relative;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    width: 23vw;
    height: auto;
    display: block;
  }
  
  .contain {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(21,21,21,1) 0%, rgba(32, 32, 32, 0.099) 100%);
    color: white;
    text-align: center;
    width: 100%;
  }

  .contain p{
    padding: 15px;
  }


